.div-link {
  border: 5px solid transparent;
  text-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  > div {
    display: flex;
    margin: 10px 0;

    .link {
      text-decoration: none;
      cursor: pointer;
      color: black;
      box-shadow: 0 0.2em 0.5em 0 #00000047;
      padding: 1em 1.5em;
      text-transform: uppercase;
      place-items: center;
      border-radius: 6px;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      border: 1px solid transparent;

      &:hover,
      &:focus {
        border: 1px solid #1aa5d322;
        background-color: #1aa5d322;
        //   color: white;
      }

      &:active {
        border: 1px solid #1aa5d322;
        background-color: #1aa5d322;
        //   color: white;
      }
    }
  }
}
