///// style for table Ag-Grid
.content-table-ag-grid {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;

  .table-ag-grid {
    margin: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 17px;
    justify-content: center;
    align-content: center;
  }
}
