@import "~bootstrap/dist/css/bootstrap.min.css";
@import"~ag-grid-community/dist/styles/ag-grid.css";
@import"~ag-grid-community/dist/styles/ag-theme-alpine.css";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  font-family: serif;
}

* {
  box-sizing: border-box;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
